* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.d-flex {
    text-decoration: none;
    color: black;
}

.d-flex:hover {
    color: black;
    text-decoration: none;
}

.row {
    margin-top: 20px;
}

#user-avt {
    border-radius: 40px;
}

#user-block {
    border-bottom: .5px solid rgb(209, 209, 209);
    transition: .2s;
    text-align: center;
}

#user-block:hover {
    border-bottom: .5px solid rgb(148, 148, 148);
}

#avt-popover {
    border-radius: 50px;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    margin-top: -40px;
}

#bg-popover {
    height: 150px;
    width: 250px;
}

.username-popover {
    text-align: center;
    padding-bottom: 10px;
}

.ml-auto>.btn {
    padding: .25rem .5rem !important;
    font-size: .875rem !important;
    line-height: 1.5;
    border-radius: .2rem;
    margin-left: auto;
    width: 100px;
}

.fa-plus {
    font-size: 10px;
}

.send-request:focus {
    box-shadow: none;
}