* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

input:focus {
    box-shadow: none !important;
}

a:hover {
    text-decoration: none;
}

span {
    color: rgb(41, 41, 41);
    font-size: 15px;
    font-family: sans-serif;
    padding: 0 !important;
}

body,
html {
    background: #F6F6F6 !important;
    width: 100%;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 1px 2px 5px 0px rgb(207, 207, 207);
}

#input-search {
    border: none;
    display: none;
    width: 250px;
}

#input-search:focus {
    box-shadow: none;
}

.navbar {
    height: 50px;
    width: 100%;
    background: rgb(5, 184, 255);
    color: rgb(41, 41, 41);
}

.nav-link {
    padding: 0 10px !important
}

#img-avt {
    width: 30px;
    height: 30px;
    border-radius: 40px;
}

.nav-link>.fas {
    font-size: 20px;
    color: rgb(41, 41, 41);
    transition: .3s;
    cursor: pointer;
    padding: auto;
    text-align: center;
    display: block;
}

.fa-search,
.fa-arrow-right {
    font-size: 20px;
}

.btn-search {
    border: none;
}

.btn-search:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.nav li a {
    position: relative;
    margin-top: -3px;
    display: block !important;
}

.nav {
    margin-top: 6.5px;
    margin-left: 29%;
}

.nav li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid black;
    transition: .3s;
    transform-origin: 1 1;
    transform: scaleX(0);
}

.nav li a:hover::before {
    transform: scaleX(1);
}

.active {
    border-bottom: 2px solid black;
    color: rgb(0, 25, 253);
}

i {
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .nav {
        margin: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .navbar-brand,
    #search-form {
        display: none;
    }
}