* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/login-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-signin {
    margin-top: 150px !important;
}

#form .form-control,
.btn,
.custom-select {
    border-radius: 10px;
    border: none;
    background-color: white;
}

.btn-primary {
    background-color: rgb(5, 184, 255);
}

.btn-success {
    background-color: rgb(0, 189, 0);
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid rgb(109, 118, 255);
}

.form-control:valid {
    border: 1px solid rgb(13, 29, 253);
}

option {
    color: #495057;
}

#left,
#right {
    min-height: 100% !important;
}

.header {
    background: rgb(5, 184, 255);
    height: 50px;
}

.title {
    color: white;
    font-size: 30px;
}

#title {
    font-size: 25px;
}

#right {
    background-color: white;
}

#form {
    z-index: 1;
}

.toggle {
    cursor: pointer;
    color: green;
}

.gender>select:focus {
    box-shadow: none !important;
    border: 1px solid rgb(13, 29, 253);
}