* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/login-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid rgb(13, 29, 253);
}

.form-control:valid {
    border: 1px solid rgb(13, 29, 253);
}

#left,
#right {
    min-height: 100% !important;
}

.header {
    background-color: #FF8443;
    height: 50px;
}

.title {
    color: white;
    font-size: 30px;
}

#right {
    background-color: white;
}

#form {
    z-index: 1;
}

.toggle {
    cursor: pointer;
    color: green;
}

.gender>select:focus {
    box-shadow: none !important;
    border: 1px solid rgb(13, 29, 253);
}