<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/style/home.css" />
    <script src="/event/jquery-3.4.1.min.js"></script>
    <title>DiKa</title>
</head>

<body>
    <%- include('./layout/header.ejs'); %>

        <div class="container main">
            <div class="row d-block">
                <div class="col-sm-6 col-lg-6 mx-auto mt-4 p-4" id="post-status">
                    <img class="ml-3" width=50px height=50px src="<%=user.user_avatar%>" alt="" style="border-radius: 50px;">
                    <button type="button" id="btn-model-post" class="btn btn-outline-dark col-sm-10 " data-toggle="modal" data-target="#statusmodel">
                          Chào <%- user.user_lastname %> , Bạn đang nghĩ gì thế?
                          </button>
                </div>

                <div class="modal fade" id="statusmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Tạo bài đăng mới</h5>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <form action="">
                                        <textarea class="form-control col-sm-12 " id="create-post-input" placeholder="Nội dung bài đăng" autocomplete="off" />
                                        </textarea>
                                        <a href="" title="Ảnh"><i class="fas fa-images mt-2"></i></a>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary col-sm-12">Đăng</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
</body>
<script>
    $(document).ready(function() {
        $('#btn-model-post').click(() => {
            $('#create-post-input').text('')
        })

        for (let i = 20; i > 0; i--) {
            $('.row').append(
                '<div class="card col-sm-6 col-lg-6 mx-auto mt-4 shadow post-frame">' +
                ' <div class="card-body mt-3 p-0">' +
                '  <div class="card-title d-flex">' +
                '<img id="post-avt" src="/img/avt.png" alt="" width="50px" height="50px">' +
                '<div class="post-detail ml-3">' +
                '  <h5 id="post-name">Nguyễn Văn A</h5>' +
                ' <span id="post-time">7:00</span>' +
                '  </div>' +
                '      </div>' +
                '  <p class="card-text">Nội dung bài đăng hehehe</p>' +
                ' <img src="/img/background-login.jpg" width="100%" height="300px" />' +
                '</div>' +
                '    <div class="card-footer text-center">' +
                ' <div class="post-action">' +
                '  <a data-toggle="collapse" href="#show-cmt' + i + '" role="button" aria-expanded="false" aria-controls="collapseExample">' +
                '<span>Bình luận</span>' +
                '       </a>' +
                '<div class="collapse" id="show-cmt' + i + '">' +
                '<div class="media text-left comment">' +
                ' <img class="mr-3 img-user-cmt" src="img/avt.png" alt="Generic placeholder image">' +
                '  <div class="media-body">' +
                ' <h6 class="mt-0">Ten user</h6>' +
                ' <p >Noi dung cmt </p>' +
                '<span>Time</span>' +
                ' </div>' +
                '</div>' +
                '</div>' +
                '  </div>' +
                '   </div>' +
                '  </div>'
            )
        }
    })
</script>

</html>