<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dika</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script src="/bootstrap/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/event/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/style/login-home.css" />
</head>

<body>
    <div id="main" class="container-fluid">
        <div class="row">
            <div class="col-sm-12 header">
                <p class="text-center title">DiKa</p>
            </div>

            <div class="col-sm-8 col-md-6 col-lg-4 mx-auto border-none card-signin">
                <div id="form">
                    <h5 class="text-center text-dark" id="title">Đăng nhập</h5>
                    <form action='login' method="POST" class="col-sm-9 mx-auto">
                        <div class="form-label-group pt-3">
                            <input name="username" type="text" class="form-control" placeholder="Tên đăng nhập" required autofocus>
                        </div>
                        <div class="form-label-group pt-3">
                            <input name="password" type="password" class="form-control" placeholder="Mật khẩu" required>
                        </div>
                        <p class="text-danger text-center m-2">
                            <%= errMsg.error %>
                        </p>
                        <button class="btn btn-primary btn-block text-uppercase mt-3 mb-5" type="submit">Đăng nhập</button>
                        <p class='text-center'><a class="text-success" href="/register">Đăng kí tại đây</a></p>
                    </form>

                </div>
            </div>
        </div>

</body>

</html>